[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
imageio = "*"
matplotlib = "*"
scipy = "*"
colour-science = "*"
colour = "*"
PyQt5 = "*"

[requires]
python_version = "3.7"
